* 
    box-sizing border-box

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

h1 {
    color: black;
}
.game-container {
    position: relative;
    display: flex;
    gap: 50px;
    height: 620px;
    margin: auto;
}
.game-grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
    background-color: #282E30;

    div {
        width: 30px;
        height: 30px;
        background-color: #212121;
    }
}
.display-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
}
.display-interface {
    display: flex;
    justify-content: space-around;
    width: 600px;
    gap: 40px;
}
.display {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    #start-pause-button {
        padding: 10px 50px;
        font-size: 16px;
    }
    #hold-button {
        font-size: 16px;
        padding: 10px 9px;
    }
    // #work {
    //     font-size: 16px;
    //     padding: 10px 20px;
    // }
    .next-tetromino {
        width: 216px;
        display: grid;
        grid-template-columns: repeat(7, 30px);
        grid-template-rows: repeat(7, 30px);
        background-color: #212121;
        gap: 1px;

        .mini-grid {
            display: grid;
            grid-template-columns: repeat(7, 30px);
            grid-template-rows: repeat(7,30px);
            grid-gap: 1px;

            div {
                width: 30px;
                height: 30px;
                background-color: #333;
            }
        }
     }
     .hold-tetromino {
        width: 216px;
        display: grid;
        grid-template-columns: repeat(7, 30px);
        grid-template-rows: repeat(7, 30px);
        background-color: #212121;
        gap: 1px;
    
        .hold-grid {
            display: grid;
            grid-template-columns: repeat(7, 30px);
            grid-template-rows: repeat(7, 30px);
            gap: 1px;
    
            div {
                width: 30px;
                height: 30px;
                background-color: #333;
            }
        }
    }
    

    .tutorial-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;

        h3 {
            margin: 0px;
        }

        p {
            margin: 0px;
        }
        

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            li {
                width: 100px;
            }
        }
    }
}
