* 
    box-sizing border-box

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

h1 {
    color: black;
}
.game-container {
    position: relative;
    display: flex;
    gap: 50px;
    // width: 100vh;
    // height: 603px;
    margin: auto;
}
.game-grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
    background-color: #282E30;

    div {
        width: 30px;
        height: 30px;
        background-color: #212121;
    }
}
.display {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    #start-pause-button {
        padding: 10px 20px;
        font-size: 16px;
    }
    #hold-button {
        font-size: 16px;
        padding: 10px 20px;
    }
    #work {
        font-size: 16px;
        padding: 10px 20px;
    }
    .next-tetromino {
        display: grid;
        grid-template-columns: repeat(7, 30px);
        grid-template-rows: repeat(7, 30px);
        background-color: #212121;
        gap: 1px;

        .mini-grid {
            display: grid;
            grid-template-columns: repeat(7, 30px);
            grid-template-rows: repeat(7,30px);
            grid-gap: 1px;

            div {
                width: 30px;
                height: 30px;
                background-color: #333;
            }
        }
     }
}
